* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}

:root {
    --primarycolor: #24536b;
    --secondarycolor: rgb(8, 184, 184);
} 

html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    line-height: 1.5;
    font-family: sans-serif;
    background-color: whitesmoke;
  }

li {
    display: inline-block;
}