/* Top of Page with name and links */
h1 {
    padding-left:20px;
}

.name{
    font-weight: bold;
    font-size: 40px;
}

.navbar {
    background:blue;
    color: white;
    height: 100px;
}

.navbar .container {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav {
    margin-top: 15px;
    display: flex;
    justify-content: right;
}

.navitem {
    padding-left: 20px;
    padding-right: 20px;
}

/*Image with Subtitle section */

.cool_section {
    background: url(https://img.freepik.com/premium-vector/brick-wall-vector_1459-2333.jpg?w=1060);
    height: 200px;
}

.subtitle {
    text-align: right;
    padding-top: 7%;    
}
/* Name for Sections */
h2 {
    font-size: 40px;
    color:#29627e; /*this color should match vertical line*/
}


/* flex container specifically for the content and sidebar*/

.flex-container {
    display: flex;
}

.main-content {
    flex: 1 1 85%;
    border-left: 10px double gray;
    padding: 15px;
}

.sidebar {
    flex: 1 1 15%;
    text-align: right;
    padding: 20px;
}

/* Flexbox for projects */
